<tri-panel visible="left" ng-controller="insulationPricingCalculator">
  <section class="light">
    <trh-icon type="weatherization" outline></trh-icon>
    <h1>Insulation<br />&amp; Air Sealing<br /><small>Calculator</small></h1>
  </section>
  <section class="pricing-calculator" ng-cloak>
    <label>Stories</label>
    <h2>{{ floors }}</h2>
    <slider model="floors" step="1" min="1" max="3"></slider>

    <label>Home Size</label>
    <h2>{{ sqFt | number:0 }}<small> sqft</small></h2>
    <slider model="sqFt" step="5" min="800" max="3500"></slider>

    <label>Electricity Bill</label>
    <h2><small>$ </small>{{ utilities }}<small> mo</small></h2>
    <slider model="utilities" step="5" min="50" max="500"></slider>

    <button class="button large primary expanded" ng-click="$ctrl.showPrice = true">Get a Consult</button>
  </section>
  <section class="light">
    <p>This space intentionally blank.</p>
  </section>
  <modal ng-class="{ open: $ctrl.showPrice }">
    <button class="button" ng-click="$ctrl.showPrice = false">&larr; Back</button>
    <div class="row">
      <div class="column large-4 large-offset-2">
        <label>Estimated Price</label>
        <h2><small>$ </small>{{ price | currency:'':0 }}</h2>
      </div>
      <div class="column large-4 end">
        <label>Potential Savings</label>
        <h2><small>$ </small>{{ savings | currency:'':0 }}<small> mo</small></h2>
      </div>
    </div>
  </modal>
</tri-panel>
