modal {
  @include trh-transition();
  background-image: url('images/gradient.png');
  background-repeat: none;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 36px 30px 30px;
  position: absolute;
  right: 0;
  transform: translateY(100%);
  z-index: 20;
  &.open {
    transform: translateY(0);
  }
}
