$ch-slider-bar-height: 40px;
$ch-slider-bar-color: transparent;
$ch-slider-fill-color: transparent;
$ch-slider-handle-color: #fff;
$ch-slider-handle-height: 40px;
$ch-slider-handle-width: 40px;

@import 'angular-range-slider/src/scss/slider.scss';

.ch-slider-handle {
  box-shadow: 0px 2px 10px 0px rgba(43, 63, 73, .40);
  z-index: 5;
}
.ch-slider-line {
  display: none;
}
.ch-slider-bar:after,
.ch-slider-fill:after {
  border-top: 1px solid #ccc;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}
.ch-slider-fill:after {
  z-index: 2;
}
