html {
  height: 100%;
}
body {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
tri-panel {
  section {
    &:nth-child(1) {
      trh-icon svg {
        height: 6rem;
        width: 6rem;
      }
      h1 {
        @include trh-font(gotham narrow, medium);
        color: #38505B;
        font-size: 4.5rem;
        letter-spacing: -0.33px;
        line-height: 4.5rem;
        padding-top: 2.3rem;
        small {
          color: trh-color(slate);
          font-size: 4.5rem;
        }
      }
    }
    &:nth-child(2) {
      background: #E7F5FA;
    }
  }
}

.pricing-calculator {
  label {
    color: trh-color(slate, darker, 0.4);
    font-size: 1.125rem;
    letter-spacing: 0.38px;
    line-height: 2.25rem;
  }
  h2 {
    @include trh-font(gotham narrow, book);
    font-size: 4rem;
    line-height: 3.75rem;
    padding-bottom: 0.75rem;
    small {
      color: trh-color(slate, dark);
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
  button.primary {
    border-radius: 3px;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    line-height: 4.5rem;
  }
  slider {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: block;
    margin: 0 1.25rem 2.25rem;
    position: relative;
    &[model=floors]:after,
    &[model=floors]:before,
    &[model=floors] .ch-slider:after {
      background: #E7F5FA;
      border: 1px solid trh-color(slate);
      border-radius: 100%;
      content: ' ';
      display: block;
      height: 2.5rem;
      right: -1.25rem;
      position: absolute;
      pointer-events: none;
      top: 0;
      width: 2.5rem;
      z-index: 3;
    }
    &[model=floors]:before {
      left: -1.25rem;
      right: unset;
    }
    &[model=floors] .ch-slider:after {
      right: calc(50% - 1.25rem);
    }
  }
}

modal {
  button.button {
    @include trh-button-colorize($color-slate-darker, $color-slate-dark, $color-slate, $color-slate-light);
    left: 1rem;
    min-width: 0;
    position: absolute;
    top: 1rem;
  }
  label {
    @include trh-font(gotham narrow, medium);
    color: trh-color(slate);
    font-size: 1.125rem;
    letter-spacing: 0.38px;
    line-height: 2.25rem;
  }
  .column.large-offset-2 {
    border-right: 1px solid trh-color(slate);
    margin-right: 2rem;
  }
  h2 {
    @include trh-font(gotham narrow, book);
    color: #FFF;
    font-size: 4.875rem;
    letter-spacing: 0;
    line-height: 3.75rem;
    small {
      color: trh-color(slate);
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
  h3 {
    @include trh-font(gotham narrow, medium);
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  p {
    @include trh-font(gotham narrow, medium);
    background: trh-color(slate, darker);
    border-radius: 3px;
    color: #FFF;
    font-size: 0.875rem;
    left: 28.75rem;
    padding: 1rem;
    position: absolute;
    top: 2.625rem;
    width: 11.25rem;
  }
  span {
    color: #FFF;
  }
  input[type=submit] {
    opacity: 0 !important;
  }
  input[type=email],
  input[type=tel],
  input[type=text] {
    background: transparent;
    border-color: trh-color(slate);
    color: trh-color(slate);
    &:focus {
      border-color: #FFF;
      color: trh-color(tree);
    }
  }
}
